<div class="bg-light p-2 mt-5" style="border-radius: 10px;">
  <div class="mt-5 d-flex justify-content-between align-items-center">
    <h2>Images</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
      Upload Image
    </button>
  </div>
  <div class="table-container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Content-Type</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Size</th>
          <th scope="col">Link</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < imagesInfo.length; i++) { %>
        <tr>
          <td>
            <%= imagesInfo[i].name %>
          </td>
          <td>
            <%= imagesInfo[i].contentType %>
          </td>
          <td>
            <%= new Date(imagesInfo[i].timestamp).toLocaleString(); %>
          </td>
          <td>
            <%= helper.bytesToKilobytes(imagesInfo[i].size) %>Kb
          </td>
          <td>
            <a href="/api/image/<%= imagesInfo[i].id %>" target="_blank" rel="noopener noreferrer">View</a>
          </td>
          <td>
            <a href="#" data-toggle="modal" data-target="#confirmationModal" data-id="<%= imagesInfo[i].id %>">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <ul class="pagination d-flex justify-content-between">
    <li class="page-item"><a class="page-link" href="/dashboard?c=1&s=<%= skip-10<0 ? 0 : skip - 10 %>">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/dashboard?c=1&s=<%= end ? skip : skip + 10 %>">Next</a></li>
  </ul>
</div>
</div>